<div class ="img-selection">
    <div>
      <button (click) = "next()"> Next</button>
      <button (click) = "prev()"> prev</button>
    </div>

    <div>
    <img *ngIf="imgbase64"  src="{{'data:image/jpg;base64,' + imgbase64}}" alt="First slide">
    </div>
</div>

<div>
  <input type="text" (input) = "nsim">
</div>
<div class="img-similar">
    <div *ngIf="similar">
        <img  *ngFor="let sim of similar"  class ="img-single" src="{{'data:image/jpg;base64,' + sim}}" alt="First slide">
      </div>
</div>